# This is Git's per-user configuration file.
[user]
	name = Edwin Boon
	email = hello@edwinboon.dev
# Please adapt and uncomment the following lines:
#	name = Edwin Boon
#	email = hello@edwinboon.dev 
[init]
	defaultBranch = main
